.chat-room-container {
  /* position: fixed;
  left: 5;
  right: 5;
  top: 0;
  bottom: 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 16px;
  background-color: #3f4042;
}

.room-name {
  margin-top: 0;
  color: #31a24c;
}

.messages-container {
  flex: 1;
  min-height: 30rem;
  min-width: 80rem;
  overflow: auto;
  border: 1px solid black;
  border-radius: 7px 7px 0 0;
}

.messages-list {
  list-style-type: none;
  padding: 0;
}

.new-message-input-field {
  height: 40px;
  max-height: 50%;
  font-size: 20px;
  padding: 8px 25rem 8px 2rem;
  outline: none;
  resize: none;
  text-align: left;
  border-radius: 2rem;
  background-color: aquamarine;
}

.message-item {
  width: 55%;
  margin: 8px;
  padding: 12px 8px;
  word-break: break-word;
  border-radius: 4px;
  color: white;
}
.inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex: 1;
}

.my-message {
  background-color: rgb(0, 132, 255);
  margin-left: auto;
}

.received-message {
  background-color: blueviolet;
  margin-right: auto;
}

.send-message-button {
  font-size: 28px;
  font-weight: 600;
  color: white;
  background: #31a24c;
  padding: 14px 2rem;
  border: none;
  border-radius: 2rem;
  margin-left: 2rem;
}

/* .messages-container,
.new-message-input-field,
.send-message-button {
  border-color: #9a9a9a;
} */
